<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Lista de atendimentos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let a of atendimentos">
      <ion-card color="primary" style="width: 100%;">
        <ion-card-header>
          <ion-card-title>
            <b>
              {{a.animal.nome}}
            </b>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{a.valor | currency:'R$'}}
          <br />
          {{a.data | date: 'dd/MM/yyyy'}}
        </ion-card-content>
        <ion-icon name="create" size="large" [routerLink]="['../edicao', a.id]"></ion-icon>
        <ion-icon name="trash" size="large" (click)="remove(a)"></ion-icon>
      </ion-card>
      <!-- <ion-label>
          {{(a.data) + " - " + a.animal.nome + " = R$ " + a.valor}}
        </ion-label> -->
    </ion-item>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button [routerLink]="['../cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
