<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Melhores funcionários
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let f of funcionarios">
      <ion-label>
        {{ f.pessoa?.nome }}
      </ion-label>
      <ion-icon slot="end" name="heart-dislike" (click)="unfavorite(f)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button [routerLink]="['../lista']">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
